/*? ********** Fluid Text ********** */
:root {
  --step-6: clamp(0.96rem, calc(0.89rem + 0.10vw), 0.91rem);
  --step-5: clamp(1.20rem, calc(1.05rem + 0.21vw), 1.09rem);
  --step-4: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.50rem);
  --step-3: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-1: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
}

/*? ********** Custom Properties ********** */

:root {
  --first-color: #0d6efd;
  --first-alpha-color: #0d6efd75;
  --second-color: #f8f9fa;
  --second-alpha-color: #f8f9fa75;
  --third-color: #2E4053;
  --third-alpha-color: #2E405375;
  --white-color: #FFFFFF;
  --gray-light-color: #F3F3F3;
  --gray-color: #CCCCCC;
  --gray-dark-color: #666666;
  --black-color: #000000;
  --link-color: #509EE3;
  --title-color: #333333;
  --text-color: #222222;
  --white-alpha-color: #fff5;
  --black-alpha-color: #0007;
  --font: 'Raleway', sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/*? ********** Reset ********** */

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.5s ease-out;
  outline: 0;
}

a:active {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: var(--step-1);
}

h2 {
  margin: 0;
  font-size: var(--step-2);
}

h3 {
  margin: 0;
  font-size: var(--step-3);
}

h4 {
  margin: 0;
  font-size: var(--step-4);
}

h5 {
  margin: 0;
  font-size: var(--step-5);
}

h6 {
  margin: 0;
  font-size: var(--step-6);
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  line-height: 1.6;
  font-size: var(--step--1);
}



/*? ********** Components ********** */

/* *** Contact Form *** */
.contact-form{
  margin: auto;
  padding: 2rem 1rem;
}

.contact-form > *:not(input[type="submit"],.loader){
  display: block;
  width: 100%;
  padding: .5rem;
  margin-bottom: 1rem;
  border: thin solid var(--gray-dark-color);
  outline: none;
  font-family: var(--font);
  font-size: .85rem;
}

.contact-form > textarea{
  grid-column: span 2;
  resize: none;
}

.contact-form > *:not(input[type="submit"],.loader),
.contact-form > textarea{
  font-size: 1.3rem;
}

.contact-form > input[type="submit"]{
  grid-column: span 2;
  margin-left: auto;
  cursor: pointer;
  width: 100%;
  transition: all .5s ease-in-out;
}

.contact-form input[type="submit"]:active {
  opacity: .75;
}

.contact-form *::placeholder {
  color: var(--gray-dark-color);
  padding-left: .5rem;
}

.contact-form-response{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--white-color);
  padding: 2rem;
}

.contact-form-response svg{
  width: 3rem;
  height: 3rem;
}

.loader{
  grid-column: span 2;
}

.loader img{
  width: 4rem;
  height: 4rem;
}

#gracias:target{
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 1024px) {
  .contact-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    width: 80%;
  }

  .contact-form > input[type="submit"]{
    width: 12.5rem;
  }
}


/* *** Hero Image **** */
.hero-image{
  background-image: url(../assets/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--hero-opacity-color);
  min-height: 100vh;
}

.hero-image-content{
  display: inherit;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero-image-title{
  color: var(--hero-text-color);
  font-size: 5vw;
}

.typed > .title{
  color: var(--link-color);
  font-weight: 300;
}




/* *** Menu *** */
.menu{
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  display: flex;
  flex-direction: column;
  background-color: var(--first-color);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu a{
  color: var(--second-color);
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.menu a:hover{
  background-color: var(--second-color);
  color: var(--text-color);
}

.menu-btn{
  height: 2.125rem;
  background-color: transparent;
  border: thin solid var(--second-color);
  cursor: pointer;
  outline: 0;
}

.menu-btn path{
  width: 20px;
  height: 16px;
  fill: var(--second-color);
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 1024px) {
  .menu{
    position: static;
    flex-direction: row;
    align-items: center;
    width: auto;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a{
    padding: 0;
    margin-right: 2rem;
    transition: all .3s ease-out;
  }

  .menu a:hover{
    background-color: transparent;
    color: var(--gray-light-color);
    border-bottom: thick double var(--first-color);
    border-radius: .1rem;
    opacity: 1;
  }

  .menu a:last-child{
    margin-right: 0;
  }

  .menu-btn{
    display: none;
  }
}

/* *** Modal ***  */
.modal{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: calc(100% - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.modal-content{
  position: relative;
}

.modal-close{
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
}

.modal-close path{
  fill: var(--first-color);
}

.modal[id|="trabajo"]:target {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .modal{
    height: auto;
  }
}


/* *** Progress Bar ***  */

progress{
  background-color: var(--gray-color);
  width: 100%;
}

/* Seleccionando Progress Bar */
progress::-webkit-progress-bar{
  background-color: var(--gray-color);
}

/* Seleccionando lo que avanza en la Progress Bar */
progress::-webkit-progress-value{
  background-color: var(--gray-dark-color);
}

/* Seleccionando lo que avanza en la Progress Bar en Firefox*/
progress::-moz-progress-bar{
  background-color: var(--gray-dark-color);
}

.progress-bar{
  margin-top: 1rem;
}

.progress-bar p{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}



/*? ********** Utilities ********** */

.box-shadow-1 {
  box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
  border-radius: .5rem;
  border: 0;
  padding: 1rem;
  display: inline-block;
  width: 12.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--third-color);
  text-transform: uppercase;
}

.section {
  padding: 2rem 1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.gray-scale {
  filter: grayscale(1);
}

.none {
  display: none;
}

.section-title {
  border-right: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  margin: 1rem auto;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  color: var(--title-color);
}

.text-first-color {
  color: var(--first-color);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }
}


/*? ********** Site Styles ********** */


/* *** Header *** */
.header{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: var(--header-height);
  padding: 1rem;
  background-color: var(--first-color);
  
}

.header > .container{
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.logo:hover{
  animation: pulse 1.5s linear infinite;
}


.logo a{
  color: var(--second-color);
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.1);
  }
}

/* *** about *** */
.about{
  display: grid;
  margin-top: 2rem;
}

.about article{
  margin-bottom: 2rem;
}

.about aside{
  margin-bottom: 1rem;
}

.about img{
  width: 100%;
  object-fit: cover;
}

/* *** contact *** */
.contact{
  padding-top: 0;
}

.contact-cards{
  margin: 3rem 0;
}

.contact-card{
  margin-bottom: 1rem;
  padding: 1rem;
}

.contact-card > address{
  font-size: 1.5rem;
}

.contact-card h5{
  text-transform: uppercase;
}

.contact-card svg{
  margin: 1rem auto;
}

.github,
.linkedin,
.twitter,
.whatsapp{
  color: var(--text-color);
}

.github:active{
  color: var(--github-color);
}

.linkedin:active{
  color: var(--linkedin-color);
}

.twitter:active{
  color: var(--twitter-color);
}

.whatsapp:active{
  color: var(--whatsapp-color);
}


/* *** portfolio *** */
.portfolio > .container{
  gap: 1rem;
}

.portfolio-card{
  position: relative;
  display: block;
  width: 100%;
  height: 22rem;
}

.portfolio-card:active > .portfolio-card-info{
  opacity: 1;
  pointer-events: auto;
}

.portfolio-card img,
.portfolio-modal img{
  width: 100%;
  object-fit: cover;
}

.portfolio-card img{
  height: 100%;
}

.portfolio-modal img{
  max-height: 100%;
}

.portfolio-card-info{
  position: absolute;
  background-color: var(--third-alpha-color);
  top: 0;
  height: 20rem;
  border: thin solid var(--white-color);
  margin: 1rem;
  padding: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: all .5s ease-in-out;
}


.portfolio-card-info h3,
.portfolio-card-info p{
  color: var(--white-color);
}


.portfolio-details{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: 1rem;
  margin-top: 1rem;
}

.portfolio-details b{
  color: var(--third
  -color);
  font-weight: 900;
}

.portfolio-details > small{
  font-size: 1rem;
}

.portfolio-info h3{
  color: var(--title-color);
  margin: 2rem 0 1rem;
  padding-bottom: .3rem;
  border-bottom: medium solid var(--first-color);
  text-transform: uppercase;  
}

.portfolio-modal{
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  max-width: 25rem;
  padding: 1rem;
}

.portfolio .section-title{
  margin-top: 0;
}


/* *** skills *** */
.skills{
  padding: 2rem 0;
  background-color: var(--gray-light-color);
  width: 100%;
}

.skills > .container{
  row-gap: 2rem;
  column-gap: 3rem;
}

.skill h3{
  text-transform: uppercase;
}

.skill svg{
  margin: 1rem auto;
}


/* *** footer*** */
.footer{
  background-color: var(--third-color);
  color: var(--white-color);
  padding: 1rem;
  margin-bottom: var(--header-height);
}

.footer span{
  color: var(--link-color);
}

/* ***** Version Tablet ***** */
@media screen and (min-width: 768px) {
  .contact-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }
  
  .contact-card{
    margin-bottom: 0;
  }

  .portfolio > .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .portfolio-modal{
    flex-direction: row;
    column-gap: 2rem;
    max-width: 55rem;
    max-height: 25rem;
  }

  .portfolio-modal img{
    width: 23rem;
  }

  
  .skills .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .skills .section-title,
  .portfolio .section-title{
    grid-column: span 2;
  }
  
}

/* ***** Version Desktop ***** */
@media screen and (min-width: 1024px) {
  .about{
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 1rem;
  }

  .about article{
    margin-bottom: 0;
  }

  .contact-cards{
    grid-template-columns: repeat(4,1fr);
  }


  .header{
    position: absolute;
    top: 0;
    background-color: transparent;
    height: 5rem;
  }

  .menu{
    background-color: inherit;
  }

  .portfolio > .container{
    grid-template-columns: repeat(3,1fr);
  }

  .portfolio .section-title{
    grid-column: span 3;
  }

  .skills .container{
    grid-template-columns: repeat(4,1fr);
  }

  .skills .section-title{
    grid-column: span 4;
  }

  .footer{
    margin-bottom: 0;
  }
  
}

/* ***** hover solo para versión Desktop ***** */
@media (hover: hover){
  a:hover {
    opacity: 0.75;
  }

  .contact-form input[type="submit"]:hover {
    opacity: .75;
  }


  .github:hover{
    color: var(--github-color);
  }
  
  .linkedin:hover{
    color: var(--linkedin-color);
  }
  
  .twitter:hover{
    color: var(--twitter-color);
  }
  
  .whatsapp:hover{
    color: var(--whatsapp-color);
  }

  .portfolio-card:hover > .portfolio-card-info{
    opacity: 1;
    pointer-events: auto;
  }

  
}






